 html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }

 .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 0;
 }

 h3 {
    font-size: 20px;
    font-weight: 325;
    margin: 0;
 }

 .main {
    display: flex;
 }

 .art {
    display: flex;
    flex-flow: column;
 }

 .art-title {
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 15px;
    max-width: 500px;
 }

 .work-title {
    font-style: italic;
 }

 .art-container {
    display: flex;
    flex: 1 1 0;
 }

 .art-container img {
    max-width: 500px;
    max-height: 500px;
 }

 .sketch {
    display: flex;
    flex-direction: column;
 }

.sketch-title {
    font-size: 20px;
    font-weight: 400;
}

.sketch-container {
    display: flex;
    flex: 1 1 0;
 }

 .footer {
    text-align: center;
 }
